.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--branco);
}

.menu-hamburguer{
   width: 24px;
   height: 24px;
   display: inline-block;
   background-image: url(../img/AluraBooks/Menu.svg);
    background-position: center ;
    background-repeat: no-repeat;
}

.menu-lista{
    display: none;
    position: absolute;
    width: 60vw;
    text-transform: uppercase;
}

.seletor-menu:checked ~ .menu-lista{
    display: block;

}

 .menu-lista-item, .menu-lista-titulo{
    background-color: white;
    padding: 1em;

 }
.menu-lista-titulo{
    color: var(--laranja);
}

.menu-lista-link{
    background: var(--azul-degrade);
    --webkit-background-clip: text;
    --webkit-text-fill-color:transparent;
    background-clip: text;
    text-transform: uppercase;
}